{% extends 'core/header.html' %}

{% block content %}

<div class="row" style="background-color: rgba(241, 247, 240, 0.438);">
    <!-- Left Side Menu  -->
    {% include 'core/includes/side_navbar_for_qna.html' %}

    <!-- Middle Side Content Goes Here -->
    <div class="col s12 m12 l10"
        style="margin-bottom: -20px;padding:25px;padding-top:0%; background-color: rgb(250, 250, 250);border-left: 2px solid #004d40;border-right: 2px solid #004d40;; border-top: 2px solid #004d40;">
        <h4 class="teal-text center">Ask a Question</h4>

        {{form.media}}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn waves-effect blue waves-light" type="submit" name="action">Post Question
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <!-- Right side content goes here -->
    <div class="col s12 m12 l2" style="border-top: 2px solid #004d40;">
        <h6><b>Popular Tags</b></h6>
        {% for mt in common_tags %}

        <div class="chip">
            <a href="/tag/{{mt.slug}}" class="black-text">{{mt}}</a>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}