<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="{% static 'core/css/materialize.css' %}" rel="stylesheet"/>
        
            <!--  For icon in menu -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> --> 
        <!-- <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style> -->
        <script type="text/javascript" src="{% static 'core/js/materialize.js' %}"></script>
    </head>

    <body style="background-color: #e1ecf4;">
        {% include 'core/includes/navbar.html' %}
        {% include 'core/includes/messaging.html' %}
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <script type="text/javascript">M.AutoInit();</script>
    </body>
</html>