<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="{% static 'core/css/materialize.css' %}" rel="stylesheet"/>
        
            <!--  For icon in menu -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> --> 
        <!-- <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style> -->
        <script type="text/javascript" src="{% static 'core/js/materialize.js' %}"></script>
            <!-- Configurations of tinymce app -->
        <script src="{% static 'tinymce/js/prism.js' %}"></script>
        <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">

    </head>

    <body style="background-color:rgba(243, 248, 242, 1);">
        {% include 'core/includes/navbar.html' %}
        {% include 'core/includes/messaging.html' %}
        {% block content %}
        {% endblock %}
        {% include 'core/includes/footer.html' %}
        <script type="text/javascript">M.AutoInit();</script>
    </body>
</html>