<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="{% static 'core/css/materialize.css' %}" rel="stylesheet"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'core/images/favicon.ico' %}"/>

            <!--  For icon in menu -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> --> 
        <!-- <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style> -->
        <script type="text/javascript" src="{% static 'core/js/materialize.js' %}"></script>
            <!-- Configurations of tinymce app -->
        <script src="{% static 'tinymce/js/prism.js' %}"></script>
        <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
        <style>   
            /* Flexible footer */
                  body {
                      display: flex;
                      min-height: 100vh;
                      flex-direction: column;
                    }
            
                    core {
                      flex: 1 0 auto;
                    }

                </style>
            
    </head>

    <body style="background-color:rgba(243, 248, 242, 1);">
        {% include 'core/includes/navbar.html' %}
        {% include 'core/includes/messaging.html' %}
        <core>
        {% block content %}
        {% endblock %}
    </core>
        {% include 'core/includes/footer.html' %}
        <script type="text/javascript">M.AutoInit();</script>
    </body>
</html>