{% extends 'core/header.html' %}

{% block content %}
<div class="row" style="background-color: rgba(241, 247, 240, 0.438);">
    <!-- Left Side Menu  -->
    {% include 'core/includes/side_navbar_for_qna.html' %}

    <!-- Middle Side Content Goes Here -->
    <div class="col s12 m9 l8"
        style="padding:25px;padding-top: 0% ;background-color: rgb(250, 250, 250);border-left: 3px solid #004d40;border-right: 3px solid #004d40;; border-top: 2px solid #004d40;">

        <h4 class="teal-text center">{{page_title}}</h4>

        <ul class="collection">
            {% load upvote_tags %}

            {% for question in page_obj %}
            <li class="collection-item" style="padding: 0px; ">
                <div class="row" style="margin: 0px;">
                    <!-- Upvote -->
                    <div class="col s3 m1 center">
                        <div class="section">
                            <p style="margin: 0px;"><b>{% upvotes ques_obj=question %}</b></p>
                            {% if user.is_authenticated %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Upvote this Question!" href="/vote/question/{{question.id}}/up" style="color: black;">
                                <i
                                    class="material-icons circle {% has_voted user=user question=question loc=1 %} small ">keyboard_arrow_up</i></a>
                            {% else %}
                            <a class="modal-trigger tooltipped" data-position="bottom" data-tooltip="Upvote this Question!" href="#login_register_modal" style="color: black;">
                                <i class="material-icons circle grey small">keyboard_arrow_up</i></a>
                            {% endif %}
                            <p class="hide-on-med-only" style="margin: 0px;"><strong>Up</strong></p>
                        </div>
                    </div>
                    <!-- Downvote -->
                    <div class="col s3 m1 center">
                        <div class="section">
                            <p style="margin: 0px;"><b>{% downvotes ques_obj=question %}</b></p>
                            {% if user.is_authenticated %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Downvote this Question!" href="/vote/question/{{question.id}}/down" style="color: black;"><i
                                    class="material-icons circle {% has_voted user=user question=question loc=2 %} small">keyboard_arrow_down</i></a>
                            {% else %}
                            <a class="tooltipped modal-trigger" data-position="bottom" data-tooltip="Downvote this Question!" href="#login_register_modal" style="color: black;"><i
                                    class="material-icons circle grey small">keyboard_arrow_down</i></a>

                            {% endif %}
                            <p class="hide-on-med-only" style="margin: 0px;"><strong>Down</strong></p>
                        </div>
                    </div>

                    <!-- Answers section -->
                    <div class="col s3 m1">
                        <div class="section center">
                            <p style="margin: 0px;"><b>{{question.answers_set.all|length}}</b></p>
                            {% if user.is_authenticated %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Number of Answer(s) Available!"  href="/questions/{{question.id}}/{{question.slug}}#write_answer" style="color: black;"><i
                                    class="material-icons circle {% has_an_answer question=question %} small">assignment_turned_in</i></a>
                            {% else %}
                            <a class="tooltipped modal-trigger" data-position="bottom" data-tooltip="Number of Answer(s) Available!"  href="#login_register_modal" style="color: black;"><i
                                    class="material-icons circle {% has_an_answer question=question %} small">assignment_turned_in</i></a>

                            {% endif %}
                            <p class="hide-on-med-only" style="margin: 0px;"><strong>Answers</strong></p>
                        </div>
                    </div>
                    <!-- Views section -->
                    <div class="col s3 m1">
                        <div class="section center">
                            <p style="margin: 0px;"><b>{{question.views}}</b></p>
                            <a class="tooltipped" data-position="bottom" data-tooltip="Total views!" href="#" style="color: black;"><i class="material-icons circle small">view_comfy</i></a>
                            <p class="hide-on-med-only" style="margin: 0px;"><strong>Views</strong></p>
                        </div>
                    </div>
                    <!-- Question Section -->
                    <div class="col s12 m8">
                        <div class="section">
                            <a href="/questions/{{question.id}}/{{question.slug}}">
                                <h6 style="margin: 4px; margin-top: -5px;" class="teal-text">
                                    <strong>{{question.title}}</strong></h6>
                            </a>
                            <p style="margin: 0px;font-size: 14px;">Asked on <strong> {{question.created_on}}</strong>
                                by <strong> {{question.user}}</strong>
                                <br>
                                <!-- Tags will goes here -->
                                {% for mt in question.tags.all %}
                            <div class="chip">
                                <a href="/tag/{{mt.slug}}" class="black-text">{{mt}}</a>
                            </div>
                            {% endfor %}
                            </p>

                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% include 'core/includes/pagination.html' %}
        {% include 'core/includes/login_register_modal.html' %}
    </div>


    <!-- Right side content goes here -->

    <div class="col s12 m3 l2" style="border-top: 2px solid #004d40;">
        <h6><b>Related Questions</b></h6>
    </div>

</div>

{% endblock %}