{% extends 'core/header.html' %}

{% block content %}
<h4 class="teal-text center">Recently Asked Questions</h4>

<ul class="collection">
    {% for question in page_obj %}

    <li class="collection-item" style="padding: 0px;"> 
        <div class="row" style="margin: 0px;">
            <!-- Upvote -->
            <div class="col s3 m1 center">
                <div class="section">
                    <p style="margin: 0px;"><b>{{question.upvote}}</b></p>
                    <a href="#" style="color: black;"><i class="material-icons circle green small">keyboard_arrow_up</i></a>      
                    <p style="margin: 0px;"><strong>Upvote</strong></p>
                  </div>                
            </div>
<!-- Downvote -->
            <div class="col s3 m1 center">
                <div class="section">
                    <p style="margin: 0px;"><b>{{question.downvote}}</b></p>
                    <a href="#" style="color: black;"><i class="material-icons circle red small">keyboard_arrow_down</i></a>
                    <p style="margin: 0px;"><strong>Downvote</strong></p>
                  </div>                
            </div>

<!-- Answers section -->
            <div class="col s3 m1">
                <div class="section center">
                    <p style="margin: 0px;"><b>{{question.answers_set.all|length}}</b></p>

                    <a href="#" style="color: black;"><i class="material-icons circle yellow small">assignment_turned_in</i></a>
                    <p style="margin: 0px;"><strong>Answers</strong></p>
                  </div>  
            </div>
        <!-- Views section -->
            <div class="col s3 m1">
                <div class="section center">
                    <p style="margin: 0px;"><b>{{question.views}}</b></p>
                    <a href="#" style="color: black;"><i class="material-icons circle small">view_comfy</i></a>
                    <p style="margin: 0px;"><strong>Views</strong></p>
                </div>  
            </div>
        <!-- Question Section -->
            <div class="col s12 m8">
                <div class="section" >
                    <a href="/questions/{{question.id}}/{{question.slug}}">
                        <h6 style="margin: 4px; margin-top: -5px;" class="teal-text"><strong>{{question.title}}</strong></h6>
                    </a>                    
                    <p style="margin: 0px;font-size: 14px;">Asked on <strong> {{question.created_on}}</strong> by <strong> {{question.user}}</strong>
                    <br>
                    <b>Tags:</b>
                    </p>
                              
                </div>                
            </div>
        </div>
    </li>
{% endfor %}
</ul>
{% include 'core/includes/pagination.html' %}

{% endblock %}