

<footer id = "footer" class="page-footer" style="background-color: #242729">
    <div class="container">
        <div class="row" style="color: #848d95;">
            <div class="col l6 s12">
                <h5 style="color: #bbc0c4;" >This is end!</h5>
                <p class="text-lighten-4">We are a team of college students working on this project like it's our full time job. Any valuable feedback would help support and continue development on this project and is greatly appreciated.</p>
            </div>

            <div class="col l3 s12">
                <h5 style="color: #bbc0c4;">Help</h5>
                <ul>
                        <li><a class="white-text" href="/feedback/">Feedback</a></li>
                        <li><a class="white-text" href="/help">Help</a></li>
                        <li><a class="white-text" href="/about">About Us</a></li>
                        <li><a class="white-text" href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 style="color: #bbc0c4;">Connect</h5>
                <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Company</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
   
       

    <div class="footer-copyright" style="background-color: #383b3f;">
        <div class="container">
            © 2020 PIDV Team All rights reserved
            <a class="grey-text text-lighten-4 right" href="#!">&nbsp;Terms of Use </a>
            <a class="grey-text text-lighten-4 right" href="/privacy_policy">| Privacy Policy |</a>
        </div>
    </div>
</footer>
