{% load static %}
<!-- This will used for dashboard like operations -->
<style>
	header,
	core,
	footer {
		padding-left: 300px;
	}

	@media only screen and (max-width: 992px) {

		header,
		core,
		footer {
			padding-left: 0;
		}
	}

	@media only screen and (min-width: 1925px) {

		header,
		core,
		footer,
		.fixed-action-btn {
			padding-right: 300px !important;
			transition: all 0.5s ease;
		}
	}
</style>

<script>
$(document).ready(function(){
	$('.sidenav').sidenav();
	  $('#sidenav-1').sidenav({ edge: 'left' });
	  $('#sidenav-2').sidenav({ edge: 'right' });
  });
</script>
<header>
	<!-- Navigation bar goes Here -->
	<nav style="background-color: #fafafb;" role="navigation">
		<div class="nav-wrapper">
			<div class="row">
				<div class="col s12">

							<a id="burger-icon-1" href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up" style="color: teal;"><i
									class="material-icons">menu</i></a>
							{% if user.is_authenticated %}
							<a href="#" data-target="sidenav-2" class="right sidenav-trigger show-on-medium-and-up" style="color: black;"><i
									class="material-icons">menu</i></a>
							{% endif %}
						{% load static %}
					<a href="/" class="brand-logo"><img src="{% static 'core/images/new2.png' %}"
							style="vertical-align: middle" width="155" height="auto"></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<ul class="right hide-on-med-and-down">
							<li><a style="color: blueviolet;" href='{% url "core:ask_question-view" %}'>Ask</a></li>
							<li><a style="color: blueviolet;" href='{% url "core:dashboard-view" %}'>Dashboard</a></li>
							<li><a style="color: blueviolet;" href='{% url "core:login-view" %}?next={{request.path}}'>Login</a></li>
							<li><a style="color: blueviolet;" href='{% url "core:register-view" %}'>Register</a></li>
							<li><a style="color: blueviolet;" href='{% url "core:logout-view" %}'>Logout</a></li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>





<!-- LEFT SIDEBAR	 -->
<ul id="sidenav-1" class="sidenav sidenav-fixed">
	<li>
		<div class="user-view">
			<div class="background">
				<img src="{% static 'core/images/user-profile-bg.jpg' %}" style="width: 100%;">
			</div>
			<a href="#!user"><img class="circle" src="{% static 'core/images/user.jpg' %}"></a>
			<a href="#!name"><span class="black-text name"><b>{{user.username}}</b></span></a>
			<a href="#!email"><span class="white-text email">{{user.email}}</span></a>
		</div>
	</li>
	<li style="margin-top: -10px;" {% if request.get_full_path == '/' %}class="active" {% endif %}><a href="/"><i
				class="material-icons left">home</i>Q&A Home</a></li>
	<li {% if request.get_full_path == '/dashboard/' %}class="active" {% endif %}><a href="/dashboard/"><i
				class="material-icons left">dashboard</i>Dashboard</a></li>
	<li {% if request.get_full_path == '#' %}class="active" {% endif %}><a href="#"><i
				class="material-icons">group</i>Users/Community</a></li>
	<hr>
	<li style="margin-top: -10px;"><a href="/trending/"><i
				class="material-icons left">local_fire_department</i>Trending</a></li>
	<li {% if request.get_full_path == '/tags/' %}class="active" {% endif %}><a href="/tags/"><i
				class="material-icons left">label</i>Tags</a></li>
	<hr>
	<li {% if request.get_full_path == '/ask_question/' %}class="active" {% endif %}><a href="/ask_question"><i
				class="material-icons">live_help</i>Ask a New Question</a></li>
	<li {% if request.get_full_path == '/dashboard/#bookmarks' %} class="active" {% endif %}><a
			href="/dashboard/#bookmarks"><i class="material-icons">bookmark</i>Bookmarks</a></li>
	<li><a href="/dashboard/#question_answer"><i class="material-icons">question_answer</i>Your Questions/Answers</a>
	</li>
	<li><a href="/help"><i class="material-icons">help</i>Help</a></li>
	{% if user.is_authenticated %}
	<li style="margin-top: -10px;"><a href="/accounts/logout/"
			class="waves-effect waves-light btn red darken-4">Logout</a></li>
	{% else %}
	<li style="margin-top: -10px;"><a href="/login/?next={{request.path}}"
		class="waves-effect waves-light btn orange darken-4">Login</a></li>

	{% endif %}
</ul>


<!-- SIDEBAR .SIDENAV-FIXED -->
{% if user.is_authenticated %}


<ul id="sidenav-2" class="sidenav">    
	<li>
		<div class="user-view">
			<div class="background">
				<img src="{% static 'core/images/user-profile-bg.jpg' %}" style="width: 100%;">
			</div>
			<a href="#!user"><img class="circle" src="{% static 'core/images/user.jpg' %}"></a>
			<a href="#!name"><span class="black-text name"><b>{{user.username}}</b></span></a>
			<a href="#!email"><span class="white-text email">{{user.email}}</span></a>
		</div>
	</li>
	<li {% if request.get_full_path == '/dashboard/' %}class="active" {% endif %}><a href="/dashboard/"><i
				class="material-icons left">dashboard</i>Dashboard</a></li>
	<li {% if request.get_full_path == '/account' %}class="active" {% endif %}><a href="/account"><i
				class="material-icons">account_box</i>Account</a></li>
	<li><a href="/community"><i class="material-icons left">people</i>Ask in Community</a></li>
	<li class="tooltipped" data-position="down" data-tooltip="Contribute to Community"><a href="/contribute"><i
				class="material-icons left">add</i>Explore & Contribute</a></li>
	<li><a href="/users_content"><i class="material-icons">view_module</i>Your Contents</a></li>
	<li {% if request.get_full_path == '/account/edit_profile' %} class="active" {% endif %}><a
			href="/account/edit_profile"><i class="material-icons">settings_applications</i>Setting</a></li>
	<li><a href="/help"><i class="material-icons">help</i>Help</a></li>
	<li><a href="/accounts/logout/" class="waves-effect waves-light btn red darken-4">Logout</a></li>
</ul>
{% endif %}