
{% if questions.has_other_pages %}
<ul class="pagination">
    {% if questions.has_previous %}
    <li class="waves-effect"><a href="?page1={{ questions.previous_page_number }}"><i
                class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for i in questions.paginator.page_range %}
    {% if questions.number == i %}
    <li class="active"><a href="?page1={{ i }}">{{ i }}</a></li>

    {% else %}
    <li class="waves-effect"><a href="?page1={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if questions.has_next %}
    <li class="waves-effect"><a href="?page1={{ questions.next_page_number }}"><i
                class="material-icons">chevron_right</i></a></li>

    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>
{% endif %}