<div class="col hide-on-small-only s12 m2 l1" style="padding-left:5px; border-top: 2px solid #004d40;">
    <ul class="section table-of-contents fixed">
        <li><a href="#introduction"><b>Q&A Home</b></a></li>
        <li><a href="#introduction">Tags</a></li>
        <li><a href="#info_does_not_collect">Users</a></li>
        <hr>
        <li><a href="#info_does_not_collect">Trending</a></li>
        <li><a href="#user_info_status">Help
            </a></li>
    </ul>
</div>
<div class="col hide-on-med-and-up s12">
    <ul class="section table-of-contents ">
        <li><a href="#introduction">Tags</a></li>
        <li><a href="#info_does_not_collect">Users</a></li>
        <li><a href="#user_info_status">Help
            </a></li>
    </ul>
</div>
