<!-- This one for medium and small screen -->
<ul class="collapsible hide-on-large-only">
    <li>
        <div class="collapsible-header">
            <h5><i class="material-icons">widgets</i><b>Menu</b></h5>
        </div>

        <div class="collapsible-body"><span>

                <!-- First row of menu -->
                <div class="row">

                    <div class="col s4 m4 center">
                        <a href="/">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">
                                    <i class="material-icons">home</i><br>
                                    <b>Home</b>
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="col s4 m4 center">
                        <a href="/dashboard">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">
                                    <i class="material-icons">dashboard</i><br>
                                    <b>Dashboard</b>
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="col s4 m4 center">
                        <a href="#">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">
                                    <i class="material-icons">group</i><br>
                                    <b>Users</b>
                                </span>
                            </div>
                        </a>
                    </div>

                </div>
                <hr>
                <!-- second section of qna navbar -->
                <div class="row">

                    <div class="col s4 m4 center">
                        <a href="/">
                            <div class="card-panel blue-grey darken-3 hoverable">
                                <span class="white-text">
                                    <i class="material-icons">local_fire_department</i><br>
                                    <b>Trending</b>
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="col s4 m4 center">
                        <a href="/tags/">
                            <div class="card-panel blue-grey darken-3 hoverable">
                                <span class="white-text">
                                    <i class="material-icons">label</i><br>
                                    <b>Tags</b>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <hr>

                <!-- third section of qna navbar -->

                <div class="row">

                    <div class="col s6 m4 center">
                        <a href="/ask_question/">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">
                                    <i class="material-icons">live_help</i><br>
                                    <b>Ask Question</b>
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="col s6 m4 center">
                        <a href="/dashboard/#bookmarks">

                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text center-align">

                                    <i class="material-icons">bookmark</i><br>
                                    <b>Bookmarks</b>

                                </span>
                            </div>
                        </a>

                    </div>
                    <div class="col s6 m4 center">
                        <a href="/dashboard/">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">

                                    <i class="material-icons">question_answer</i><br>
                                    <b>Your Questions</b>

                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 center">
                        <a href="/dashboard/#question_answer">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">

                                    <i class="material-icons">comment_bank</i><br>
                                    <b>Your Answers</b>

                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 center">
                        <a href="#">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">

                                    <i class="material-icons">help</i><br>
                                    <b>Help</b>

                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 center">
                        <a href="#">
                            <div class="card-panel blue-grey darken-4 hoverable">
                                <span class="white-text">

                                    <i class="material-icons">report</i><br>
                                    <b>Report</b>

                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <hr>
            </span></div>
    </li>
</ul>