<div class="col hide-on-med-and-down l2" style="padding-top:0%;border-top:  2px solid #004d40;">
    <ul class="section table-of-contents fixed" style="margin-top: 3px;">

        <li><a href="/"><b>Q&A Home</b></a></li>
        <li><a href="/dashboard"><b>Dashboard</b></a></li>
        <hr>
        <li><a href="/tags">Tags</a></li>
        <li><a href="#info_does_not_collect">Trending</a></li>
        <li><a href="/users">Users</a></li>
        <hr>
        <li><a href="/ask_question">Ask Question</a></li>
        <hr>
        <li><a href="#info_does_not_collect">Bookmarks</a></li>
        <li><a href="#info_does_not_collect">Your Favorite Questions</a></li>
        <li><a href="#info_does_not_collect">Your Answers</a></li>
        <hr>
        <li><a href="#user_info_status">Help
            </a></li>

    </ul>
</div>


<!-- This one for medium and small screen -->
<ul class="collapsible hide-on-large-only">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>
                <ul class="section">
                    <li><a href="/"><b>Q&A Home</b></a></li>
                    <li><a href="/dashboard"><b>Dashboard</b></a></li>
                    <hr>
                    <li><a href="/tags">Tags</a></li>
                    <li><a href="#info_does_not_collect">Trending</a></li>
                    <li><a href="/users">Users</a></li>
                    <hr>
                    <li><a href="/ask_question">Ask Question</a></li>
                    <hr>
                    <li><a href="#info_does_not_collect">Bookmarks</a></li>
                    <li><a href="#info_does_not_collect">Your Favorite Questions</a></li>
                    <li><a href="#info_does_not_collect">Your Answers</a></li>
                    <hr>
                    <li><a href="#user_info_status">Help
                        </a></li>
                </ul>
            </span></div>
    </li>
</ul>